
<h3>Click on a word to see it's definition!</h3>

<form action="/" method="post">
  <div class="form-group">
    <label for="definition">New Definition</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Submit Definition</button>
</form><br>
<form action="/">
