
<h3><%=@title%> definition:</h3>
<%@definitions.each do |def|%>
  <h4><%=def%></h4>
<%end%>

<form action="/" method="post">
  <div class="form-group">
    <label for="definition">New Definition</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Submit Definition</button>
</form>
