<h3 action="/">Click on a word to see it's definition!</h3>

<%= @first_words.show_word %>

<form action="/" method="post">
  <div class="form-group">
    <label for="word">Enter a new word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Add word!</button>
</form><br>

  <%= @first_words.show_word %>
